.project
.browse.VC.db*
*.o
example
*.png
!Lorenz_Equations.png
*.tex
*.eps
*.log
*.pdf
*.svg
*.txt
*.xz
pkg
src
CPP-Math-Projects/*
Simple-Pendulum-Animation
simple-pendulum
*.swp
*.swo
octave-workspace
lorenz
